<div class="container">
    <div class="form row mt-5">
        <h2>Deleted Todos</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Create Date</th>
                    <th scope="col">Delete Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos">
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.description }}</td>
                    <td>{{ todo.category }}</td>
                    <td>{{ todo.createdDate | date: 'MM/dd/yyyy hh:mm a' }}</td>
                    <td>{{ todo.completedDate | date: 'MM/dd/YYYY hh:mm a'}}</td>
                    <td>
                        <a href="#" (click)="undoDelete($event, todo.id)" class="undo-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
                                <path
                                    d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
                            </svg>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" (click)="goToPage(currentPage - 1)"
                        [ngClass]="{ 'disabled': isPreviousDisabled }">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="goToPage(currentPage)"><span>{{ currentPage }}</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="goToPage(currentPage + 1)"
                        [ngClass]="{ 'disabled': isNextDisabled }">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>