<div class="container">
    <div class="form row mt-5">
        <form #form="ngForm" (ngSubmit)="updateTodo()">
            <h2>Update Task</h2>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control small-input" id="title" name="title" [(ngModel)]="updateOldTodo.title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control small-input" id="description" name="description"
                    [(ngModel)]="updateOldTodo.description">
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-control" id="category" name="category" [(ngModel)]="updateOldTodo.category">
                    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
