* {
    font-family: monospace;
}

.input-group .form-control {
    max-width: 30%;
}

.input-group .form-control,
.input-group .input-group-append {
    margin: 0;
    margin-left: 33%;
}

.stroke {
    text-decoration: line-through;
}

.complete-icon,
.update-icon,
.delete-icon {
    padding: 5px;
    margin: 0 -15px;
}

.complete-icon {
    background-color: #2e42f8;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    transition: color 0.3s ease-out;
}

.complete-icon:hover {
    background-color: #1d27bb;
}

.delete-icon {
    background-color: #e63131;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    transition: color 0.3s ease-out;
}

.delete-icon:hover {
    background-color: #a71e1e;
}

.update-icon {
    background-color: #1ccc48;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    transition: color 0.3s ease-out;
}

.update-icon:hover {
    background-color: #0b912c;
}

.container {
    text-align: center;
}

.row table {
    margin: 30px auto;
}

